Debug/
obj/x86/Debug
obj/
bin/
MZP-NET/MultiZonePlayer/bin/Debug/MultiZonePlayer.vshost.exe
MZP-NET/MultiZonePlayer/obj/x86/Debug/AxInterop.WMPLib.dll
MZP-NET/MultiZonePlayer/obj/x86/Debug/MultiZonePlayer.exe
MZP-NET/MultiZonePlayer/obj/x86/Debug/MultiZonePlayer.pdb
