Debug/
obj/x86/Debug
obj/
bin/
MZP-NET/MultiZonePlayer/bin/Debug/
MZP-NET/MultiZonePlayer/obj/x86/Debug/
MZP-NET/WebApp/WebApp/obj/
MZP-NET/WebApp/WebApp/obj/Debug
MZP-NET/MultiZonePlayer/ThirdParty/pstools/*.exe
MZP-NET/MultiZonePlayer/ThirdParty/pstools/*.chm
MZP-NET/MultiZonePlayer/ThirdParty/pstools/*.txt
Release/AForge.dll
Release/AForge.Video.DirectShow.dll
Release/AForge.Video.DirectShow.pdb
Release/AForge.Video.DirectShow.xml
Release/AForge.Video.dll
ispyconnect/iSpyApplication/DLLS/AForge.Controls.dll
ispyconnect/iSpyApplication/DLLS/AForge.dll
ispyconnect/iSpyApplication/DLLS/AForge.Imaging.dll
ispyconnect/iSpyApplication/DLLS/AForge.Imaging.Formats.dll
ispyconnect/iSpyApplication/DLLS/AForge.Math.dll
ispyconnect/iSpyApplication/DLLS/AForge.Video.DirectShow.dll
ispyconnect/iSpyApplication/DLLS/AForge.Video.dll
ispyconnect/iSpyApplication/DLLS/AForge.Video.FFMPEG.dll
ispyconnect/iSpyApplication/DLLS/AForge.Video.Kinect.dll
ispyconnect/iSpyApplication/DLLS/AForge.Video.Kinect.xml
ispyconnect/iSpyApplication/DLLS/AForge.Video.Ximea.dll
ispyconnect/iSpyApplication/DLLS/AForge.Vision.dll
ispyconnect/iSpyApplication/DLLS/CodeVendor.Controls.dll
ispyconnect/iSpyApplication/DLLS/Declarations.dll
ispyconnect/iSpyApplication/DLLS/Google.GData.Client.dll
ispyconnect/iSpyApplication/DLLS/Google.GData.Extensions.dll
ispyconnect/iSpyApplication/DLLS/Google.GData.YouTube.dll
ispyconnect/iSpyApplication/DLLS/Implementation.dll
ispyconnect/iSpyApplication/DLLS/Interop.NATUPNPLib.dll
ispyconnect/iSpyApplication/DLLS/Interop.NETCONLib.dll
ispyconnect/iSpyApplication/DLLS/Interop.NetFwTypeLib.dll
ispyconnect/iSpyApplication/DLLS/LibVlcWrapper.dll
ispyconnect/iSpyApplication/DLLS/Microsoft.ComponentModel.Composition.Initialization.Desktop.dll
ispyconnect/iSpyApplication/DLLS/NAudio.dll
ispyconnect/iSpyApplication/DLLS/NLog.dll
ispyconnect/iSpyApplication/DLLS/NSpeex.dll
ispyconnect/iSpyApplication/DLLS/Renderers.dll
ispyconnect/iSpyApplication/DLLS/Windows7ToolStripRenderer.dll
ispyconnect/iSpyApplication/DLLS/xiApi.NET.dll
ispyconnect/iSpyApplication/avcodec-53.dll
ispyconnect/iSpyApplication/avdevice-53.dll
ispyconnect/iSpyApplication/avfilter-2.dll
ispyconnect/iSpyApplication/avformat-53.dll
ispyconnect/iSpyApplication/avutil-51.dll
ispyconnect/iSpyApplication/sounds/airhorn.wav
ispyconnect/iSpyApplication/sounds/alarm.wav
ispyconnect/iSpyApplication/sounds/alsation_bark.mp3
ispyconnect/iSpyApplication/sounds/alsation_bark.wav
ispyconnect/iSpyApplication/sounds/alsationxsiberian_bark.wav
ispyconnect/iSpyApplication/sounds/cairnterrierbark.wav
ispyconnect/iSpyApplication/sounds/doorbell.wav
ispyconnect/iSpyApplication/sounds/intruder.mp3
ispyconnect/iSpyApplication/sounds/police.wav
ispyconnect/iSpyApplication/sounds/pop.wav
ispyconnect/iSpyApplication/sounds/rottweiler_bark.wav
ispyconnect/iSpyApplication/sounds/spanielgrowlbark.wav
ispyconnect/iSpyApplication/sounds/wiggle.wav
MZP-NET/MultiZonePlayer.suo
ispyconnect/.svn/*
MZP-NET/MultiZonePlayer.suo
taglib-sharp/src/ICSharpCode.SharpZipLib.pdb
MZP-NET/WebApp/WebApp/m/tmp/*
MZP-NET/MultiZonePlayer.suo
