body {margin:0px;padding:0px;text-align:center}
table {width: 100%;text-align:left;border-spacing:0px;}
tr {text-align:left;}
tr.Header {font-weight:bold;background-color:Lime}
td {text-align:left;table-layout:auto;padding:0px;border-width:thin;border-style:none;}
td.grid {border: 1px;border-width:thin; border-style: solid;} 
a {text-decoration: none;}
a.big {font-size:96px;}
a.med {font-size:16px;}
div.VisibleTrue {display: block;}
div.VisibleFalse {display: none;}
hr {width:90%;}
p {margin: 3px 0;}
img {vertical-align:middle;}
/***FIRST STYLE THE BUTTON***/
button, form input[type="submit"]{
cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
padding:14px 15px; /*add some padding to the inside of the button*/
background:#35b128; /*the colour of the button*/
border:1px solid #33842a; /*required or the default border for the browser will appear*/
min-width:100px;
/*give the button curved corners, alter the size as required*/
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
/*give the button a drop shadow*/
-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
box-shadow: 0 0 4px rgba(0,0,0, .75);
/*style the text*/
color:#f3f3f3;
font-size:1em;
}
/***NOW STYLE THE BUTTON'S HOVER AND FOCUS STATES***/
/*button:hover, button:focus, button.PressedTrue{*/
/*make the background a little darker*/
/*background-color :#399630;*/ 
/*reduce the drop shadow size to give a pushed button effect*/
/*-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
box-shadow: 0 0 1px rgba(0,0,0, .75);
}*/
button.Small{min-width:20px;}
button.PressedTrue,button.Pressedtrue{background-color: Red;}
button.VisibleTrue {display:inline-block;}
button.VisibleFalse {display:none;}
button.ActionTrue,button.Actiontrue {background-image:url('wheel-icon.png');background-color:Orange;background-repeat:no-repeat;background-position:left}
button.MoveTrue {background-image:url('walk-icon.png');background-color:Orange;background-repeat:no-repeat;background-position:left}
button.ActiveFalse {background-image:url('mic.png');background-repeat:no-repeat;background-position:right;}
button.Caption {background-color:transparent;color:Black;min-width:50px;}
button.Videoxbmc {background-image:url('Bande-video-icon.png');background-color:Orange;background-repeat:no-repeat;background-position:left}
button.Musicmusic {background-image:url('Music-Library-icon.png');background-color:Orange;background-repeat:no-repeat;background-position:left}
button.Radioradio {background-image:url('radio-metal-2-icon.png');background-color:Orange;background-repeat:no-repeat;background-position:left}
button.TVtv {background-image:url('television-04-icon.png');background-color:Orange;background-repeat:no-repeat;background-position:left}
button.Sensor {min-width:80px;text-align:right;padding:5px 5px;background-color:antiquewhite;color:black;background-repeat:no-repeat;background-position:2px 21px}
button.Temperature {background-image:url('temperature.png');}
button.TemperatureHumidity {background-image:url('bubbles-icon.png'),url('thermometer-icon-tiny.png');background-position:2px 24px,26px 32px;}
button.TemperatureVoltage {background-image:url('light-icon.png'),url('thermometer-icon-tiny.png');background-position:0px 24px,32px 32px;}
button.Closure {background-image:url('plug-icon.png');background-position:0px 18px;}
button.Counter {min-width:80px;background-image:url('Numbers-icon.png');}
button.Voltage {background-image:url('light-icon.png');}
meter.SmallVertical {width:10px;height:8px;transform: rotate(180deg);}