body {margin:0px;padding:0px;text-align:center}
table {width: 100%;text-align:left;border-spacing:0px;}
tr {text-align:left;}
tr.Header {font-weight:bold;background-color:Lime}
td {text-align:left;table-layout:auto;padding:0px;border-width:thin;border-style:none;}
td.grid {border: 1px;border-width:thin; border-style: solid;} 
a {text-decoration: none;}
a.big {font-size:96px;}
a.med {font-size:16px;}
div.VisibleTrue {display: block;}
div.VisibleFalse {display: none;}
hr {width:90%;}
p {margin: 3px 0;}
img {vertical-align:middle;}
/***FIRST STYLE THE BUTTON***/
button, form input[type="submit"]{
cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
padding:14px 15px; /*add some padding to the inside of the button*/
background:#35b128; /*the colour of the button*/
border:1px solid #33842a; /*required or the default border for the browser will appear*/
min-width:100px;
/*give the button curved corners, alter the size as required*/
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
/*give the button a drop shadow*/
-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
box-shadow: 0 0 4px rgba(0,0,0, .75);
/*style the text*/
color:#f3f3f3;
font-size:1em;
background-repeat:no-repeat;background-position:left;
}
button.Small{min-width:20px;}
button.PressedTrue,button.Pressedtrue{background-color: Red;}
button.VisibleTrue {display:inline-block;}
button.VisibleFalse {display:none;}
button.ActionTrue,button.Actiontrue {background-image:url('img/wheel-icon.png');background-color:Orange;}
button.MoveTrue {background-image:url('img/walk-icon.png');background-color:Orange;}
button.ActiveFalse {background-image:url('img/mic.png');background-position:right;}
button.Caption {background-color:transparent;color:Black;min-width:50px;}
button.Videoxbmc {background-image:url('img/Bande-video-icon.png');background-color:Orange;}
button.Musicmusic {background-image:url('img/Music-Library-icon.png');background-color:Orange;}
button.Radioradio {background-image:url('img/radio-metal-2-icon.png');background-color:Orange;}
button.TVtv {background-image:url('img/television-04-icon.png');background-color:Orange;}
button.Sensor {min-width:80px;text-align:right;padding:5px 5px;background-color:antiquewhite;color:black;background-position:2px 21px}
button.Temperature {background-image:url('img/temperature.png');}
button.TemperatureHumidity {background-image:url('img/bubbles-icon.png'),url('img/thermometer-icon-tiny.png');background-position:2px 24px,26px 32px;}
button.TemperatureVoltage {background-image:url('img/light-icon.png'),url('img/thermometer-icon-tiny.png');background-position:0px 24px,32px 32px;}
button.Closure {background-image:url('img/plug-icon.png');background-position:0px 18px;}
button.Counter {min-width:80px;background-image:url('img/Numbers-icon.png');}
button.Voltage {background-image:url('img/light-icon.png');}
button.SecuredTrue {background-image:url('img/door-closed-icon.png');}
button.SecuredFalse {background-image:url('img/door-open-icon.png');}
meter.SmallVertical {width:10px;height:8px;transform: rotate(180deg);}
span.Title {
	background-color:limegreen;color:white;border:1px solid #33842a;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	/*give the button a drop shadow*/
	-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
	box-shadow: 0 0 4px rgba(0,0,0, .75);}
button.User {
	background-color:transparent;color:black;min-width:90px;text-align:right;border:none;
	background-image:url('img/User-blue-icon.png');
}
button.Clean{background-color:transparent;color:black;min-width:90px;min-height:40px;text-align:right;border:none;padding:4px 15px;}
button.AlarmTrue{background-image:url('img/Lock-Lock-icon.png');background-color:green}
button.AlarmFalse{background-image:url('img/Lock-Unlock-icon.png');background-color:yellow}
button.ContactLockTrue{background-image:url('img/Lock-Lock-icon-small.png');background-color:limegreen}
button.ContactLockFalse{background-image:url('img/Lock-Unlock-icon-small.png');background-color:yellowgreen}
button.PowerTrue {background-image:url('img/light-icon.png');background-color:orangered}